# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Binaries
smash
test

# OSX debug symbols
*.dSYM

# Cruft
*.swp
*.h.gch

# Environment
env/
